{% extends 'base.html' %}

{% block menu %}
      <div id="r_menu">
		{% for m in menu%}
        <a href="{{m.get_category_url}}">
          <div class="btn btn-info" id="mb">{{ m }}
              {% if m.count_products > 0 %}
                <span class='badge' id='kol'>{{m.count_products}}</span>
              {% endif %}
          </div>
        </a>
		{% endfor %}

      </div>
{% endblock %}


{% block content %}
 <div class="panel panel-default">
    <div class="panel-heading" >Рекомендуемые товары
    </div>    	
    <div class="panel-body">
		{% for r in recomend %}
			<div class="recitems">
        <a href="{{r.get_product_url}}">
        <div class="ctitle">{{r}}</div>
          <div class="productimager">
            <img  class =" img-responsive" src='{{r.img.url}}'/>
          </div> 
        </a>   
        </div>

		{% endfor %}
    </div>
 </div>	
{% endblock %}
